.footerTopSection {
  background-color: #192129;
}

/* .footerTopWrapper {
  padding: 7rem 0;
} */

.footerTopContent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem;
  padding: 5rem 0;
}

.footerTopContent h6 {
  color: #c9d2d9;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 3rem;
}

.footerTopContent ul {
  list-style: none;
}

.footerTopContent ul li,
.footerTopContent ul li a {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 1rem;
  color: #4a5a6a;
  text-transform: capitalize;
}

.footerTopContent ul li a {
  text-decoration: none;
  display: block;
}

.footerTopContent ul li a:hover {
  color: #3374b4;
}

.footerTopContent ul li span.closed {
  color: #f54748;
}

.paymentMethodsIcon {
  display: flex;
  align-self: center;
  justify-content: space-between;
}

.socialMediaIcon a {
 margin-right: 5rem;
}

.socialMediaIcon {
  margin-bottom: 3rem;
}

.socialMediaIcon a {
  font-size: 2.2rem;
  color: #5a6d80;
}

.socialMediaIcon a:hover {
  color: #3374b4;
}

.modalWrapper {
  width: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
}

.contactUsForm {
  background-color: #fff;
  padding: 5rem 3.5rem;
  text-align: center;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.contactUsForm h4 {
  color: #484c50;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 5rem;
}

.contactUsForm input,
.contactUsForm textarea {
  width: 100%;
  padding: 1rem 0;
  border: 0;
  border-bottom: 1px solid #5a6d80;
  color: #5a6d80;
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  margin-bottom: 3.5rem;
}

.contactUsForm textarea {
  height: 12rem;
  resize: vertical;
}

.contactUsForm input::placeholder,
.contactUsForm textarea::placeholder {
  color: #5a6d80;
  font-size: 1.4rem;
  font-weight: 300;
}

.contactUsForm .btn {
  background-color: #484c50;
  padding: 1.5rem 3rem;
  font-weight: 500;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
}

.modal {
  cursor: pointer;
  user-select: none;
}

.modal:hover {
  color: #3374b4;
}

.times {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 3rem;
  cursor: pointer;
}

.paymentMethodsIcon img {
  width: 3rem;
  height: 2.2rem;
  object-fit: contain;
}

.footerBottomContent {
  border-top: 1px solid #484c50;
  padding: 1rem;
}

.footerBottomContent {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #5a6d80;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
}

.footerBottomContent a {
  text-decoration: none;
  color: inherit;
  font-size: 1.6rem;
}

.footerBottomContent div {
  margin-right: 1rem;
}
/* 
.footerBottomContent .markosis {
  color: #C9D2D9;
  font-size: 1.4rem;
} */

.emptyCartWrapper h3 {
  color: green;
}

.footerBottomContent img {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: middle;
}

@media (max-width: 1000px) {
  .modalWrapper {
    width: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
  }
}

@media (max-width: 800px) {  

  .footerTopContent {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
  }

  .footerBottomContent {
    display: block;
  }
}

@media (max-width: 600px) {
  .footerTopContent {
    grid-template-columns: 1fr;
    grid-gap: 3rem;
  }

  .socialMediaIcon {
    width: 50%;
  }

  .paymentMethodsIcon {
    width: 50%;
  }
}
