.homeBannerSection {
padding-bottom: 5rem;
}

.homeBannerWrapper {
  width: 100%;
}

.homeBanner {
  position: relative;
  text-align: center;
}

.homeBanner .banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100000;
}

.homeBanner > img {
  width: 100%;
  height: 65vh;
  object-fit: cover;
}

.homeBanner::before {
  content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.6));
}

.homeBanner h3 {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  margin-bottom: 2rem;
  line-height: 1.6;
}

.homeBanner .banner span {
  margin-right: 0.5rem;
}

.homeBanner a {
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-weight: 500;
}

.homeBanner a img {
  margin-left: 3px;
}

.homeBanner button span {
  margin-right: 5px;
}

.homeBannerWrapper .slick-dots li {
  position: relative;
}

.homeBannerWrapper .slick-dots li button:before {
  font-family: "slick";
  font-size: 0.5rem;
  position: absolute;
  top: 0.15rem;
  left: 0.15rem;
  width: 1.5rem;
  height: 1.5rem;
  content: "•";
  text-align: center;
  color: #c9d2d9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeBannerWrapper .slick-dots .slick-active {
  border: 1px solid #c9d2d9;
  border-radius: 100%;
}

@media (max-width: 800px) {
  .homeBanner .banner {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .homeBanner .banner {
    width: 95%;
  }
}



