.homeBannerSection {
padding-bottom: 5rem;
}

.homeBannerWrapper {
  width: 100%;
}

.homeBanner {
  position: relative;
  text-align: center;
}

.homeBanner .banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100000;
}

.homeBanner > img {
  width: 100%;
  height: 65vh;
  object-fit: cover;
}

.homeBanner::before {
  content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.6));
    /* opacity: .7; */

}

.homeBanner h3 {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  margin-bottom: 2rem;
}

.homeBanner h1 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 3rem;
}

.homeBanner p {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 5rem;
}

.homeBanner .banner span {
  margin-right: 0.5rem;
}

.homeBanner a {
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-weight: 500;
}

.homeBanner a img {
  margin-left: 3px;
}

.homeBanner button span {
  margin-right: 5px;
}

.homeBannerWrapper .slick-dots li {
  position: relative;
}

.homeBannerWrapper .slick-dots li button:before {
  font-family: "slick";
  font-size: 0.5rem;
  position: absolute;
  top: 0.15rem;
  left: 0.15rem;
  width: 1.5rem;
  height: 1.5rem;
  content: "•";
  text-align: center;
  color: #c9d2d9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeBannerWrapper .slick-dots .slick-active {
  border: 1px solid #c9d2d9;
  border-radius: 100%;
}

@media (max-width: 1400px) {
  .homeBannerSection {
    height: 80vh;
  }
}

@media (max-width: 1200px) {
  .homeBannerWrapper .slick-dots li button:before {
    top: 0.2rem;
    left: 0.18rem;
    width: 1.5rem;
    height: 1.5rem;

  }
}

@media (max-width: 1000px) {
  .homeBanner p {
    width: 100%;
  }

  .homeBannerSection {
    text-align: center;
    height: 85vh;
  }

  .homeBanner button {
    width: 19rem;
    margin: auto;
    margin-bottom: 5rem;
  }

  .homeBannerWrapper .slick-dots li button:before {
    top: 0.4rem;
    left: 0.35rem;
    width: 1.2rem;
    height: 1.2rem;

  }
}

@media (max-width: 800px) {
  .homeBanner h1 {
    line-height: 1.2;
  }
}


