.loaderSection {
  background-color: #192129;
  top: 0;
  left: 0;
  z-index: 100000000000;
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .loaderSection img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: inherit;
    margin: 0 auto;
  }
}