.navbarWrapper {
  background-color: #262f38;
}

.sidenavWrapper {
  display: none;
}

.navbar {
  color: #262F38;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  padding: 0 7rem;
}

.navbar > a {
  color: #fff;
  text-decoration: none;
  font-size: 1.4rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  padding: 1.7rem 0;
}

.navbar .brand {
  font-size: 1.6rem;
  font-weight: 500;
  color: #c9d2d9;
}

.dropdown .dropbtn {
  font-size: 1.4rem;
  border: none;
  outline: none;
  color: #fff;
  background-color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  padding: 1.7rem 0;
}

.dropdown .dropbtn i {
  margin-left: 1rem;
}

.dropdownContent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5rem;
}

.dropdownContent a {
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  text-transform: uppercase;
  display: block;
  font-weight: 300;
  margin-bottom: 1rem;
}
.dropdownContent h6 {
  color: #c9d2d9;
  margin-bottom: 2rem;
  font-weight: 500;
}

.dropdownContentWrapper {
  display: none;
  position: absolute;
  background-image: linear-gradient(rgb(25, 33, 41, 0.97), rgb(25, 33, 41, 0.97));
  width: 100%;
  left: 0;
  top: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10000;
  padding: 3rem 0;
}

.dropdown:hover .dropdownContentWrapper {
  display: block;
  cursor: pointer;
}



/* .sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
} */

/* Style the sidenav links and the dropdown button */
/* .sidenav a, .dropdownBtn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
} */

/* On mouse-over */
/* .sidenav a:hover, .dropdownBtn:hover {
  color: #f1f1f1;
} */

/* Main content */


/* Add an active class to the active dropdown button */
/* .active {
  background-color: green;
  color: white;
} */

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
/* .dropdownContainer {
  display: none;
  background-color: #262626;
  padding-left: 8px;
} */

/* Optional: Style the caret down icon */
/* .fa-caret-down {
  float: right;
  padding-right: 8px;
} */

@media (max-width: 800px) {
  .navbar {
    display: none;
  }

  /* .sidenavWrapper {
    display: none;
  } */
}