.popularItemSection {
  background-color: #acacac;
  padding: 7rem 0;
}

.popularItemWrapper > h3 {
  text-transform: uppercase;
  text-align: center;
  color: #484c50;
  width: 60%;
  margin: auto;
  margin-bottom: 1rem;
}

.popularItemWrapper > p {
  font-size: 1.8rem;
  font-weight: 300;
  color: #5a6d80;
  text-align: center;
  width: 60%;
  margin: auto;
}

.navItem {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
}

.navItem > a {
  font-size: 2rem;
  font-weight: 600;
  color: #484c50;
  text-align: center;
  text-decoration: none;
  border-bottom: 2px solid #484c50;
}

.navItem > a:not(.active) {
  border-bottom: none;
  opacity: 0.3;
}

.itemCard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5rem;
}

.card {
  text-decoration: none;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.imageCard {
  padding: 3rem;
  border-radius: 4px 4px 0 0;
  width: 100%;
  min-height: 28rem;
  background-color: #e5e5e5;
  display: grid;
  place-items: center;
  position: relative;
}

.imageCard > img {
  width: 70%;
  height: 70%;
  object-fit: contain;
}

.itemOverlay {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    rgba(11, 12, 15, 0.56),
    rgba(11, 12, 15, 0.56)
  );
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.itemOverlay img {
  width: 1.8rem;
  margin-right: 1rem;
}

.itemOverlay p {
  font-size: 1.8rem;
  font-weight: 600;
  color: #ffffff;
}

.itemOverlay h6 {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 600;
  margin-top: 3.5rem;
  font-size: 1.8rem;
}

.addToCart {
  display: flex;
  align-items: center;
}

.imageCard:hover .image {
  opacity: 0.3;
  cursor: pointer;
}

.imageCard:hover .item-overlay {
  opacity: 1;
  cursor: pointer;
}

.itemContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  border-radius: 0 0 5px 5px;
}

.itemContainer h5 {
  color: #5a6d80;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.itemContainer p {
  color: #484c50;
  font-weight: 600;
  font-size: 1.5rem;
}

.itemContainer .right {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  background-color: #f54748;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fee8e8;
  font-weight: 300;
  font-size: 1.45rem;
}

.reactPaginate {
  text-align: center;
  margin-top: 5rem;
}

.reactPaginate li {
  display: inline-block;
  margin-right: 2rem;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  background-color: #E7E9EB;
  border-radius: 3px;
  color: #797C80;
  font-size: 1.6rem;
  /* margin-right: 2rem; */
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}


@media (max-width: 1000px) {
  .popularItemWrapper > h3 {
    width: 90%;
  }
  
  .popularItemWrapper > p {
    width: 90%;
  }

  .itemCard {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
  }
}

@media (max-width: 800px) {
  .popularItemSection {
    padding: 5rem 0;
  }
}

@media (max-width: 600px) {
  .itemCard {
    grid-template-columns: 1fr;
    width: 85%;
    margin: 0 auto;
  }
}