.stayInTouchSection {
  background-color: #262f38;
  padding: 7rem 0;
}

.stayInTouchContent {
  text-align: center;
}

.stayInTouchContent h4 {
  text-transform: uppercase;
  color: #c9d2d9;
  margin-bottom: 1rem;
}

.stayInTouchContent p {
  color: #5a6d80;
  font-size: 1.7rem;
  margin-bottom: 1.5rem;
  font-weight: 300;
}

.stayInTouchForm {
  position: relative;
}

.stayInTouchForm input {
  width: 35%;
  margin: 0 auto;
  background-color: transparent;
  border: 0;
  border: 1px solid #5a6d80;
  padding: 1.5rem;
  border-radius: 3px;
  font-size: 1.6rem;
  font-weight: 300;
  color: #5a6d80;
}

.stayInTouchForm input::placeholder {
  color: #5a6d80;
  font-weight: 300;
}

.stayInTouchForm button {
  font-size: 1.6rem;
  cursor: pointer;
  color: #c9d2d9;
  position: absolute;
  top: 1.3rem;
  right: 34%;
  border: 0;
  font-family: "Poppins", sans-serif;
  background-color: transparent;
}

@media (max-width: 1000px) {
  .stayInTouchForm input {
    width: 50%;
  }

  .stayInTouchForm button {
    top: 1.3rem;
    right: 27%;
  }
}

@media (max-width: 800px) {
  .stayInTouchForm input {
    width: 80%;
  }

  .stayInTouchForm button {
    top: 1.3rem;
    right: 13%;
  }
}

@media (max-width: 600px) {
  .stayInTouchForm input {
    width: 100%;
  }

  .stayInTouchForm button {
    top: 1.3rem;
    right: 5%;
  }
}