.adminProductListSection {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-gap: 3rem;
  background-color: #f5f5f5;
  padding-right: 2rem;
}

.adminAllProductList {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.adminAllProductList .addBtn {
  background-color: #5AFE3D;
  padding: 1.3rem 2rem;
  cursor: pointer;
  font-weight: 400;
}

.adminAllProductList h4 {
  color: #484C50;
}
