.productBannerSection {
  background-repeat: no-repeat;
  height: 26rem;
  background-position: center center;
  background-size: cover;
}

.productBannerContent {
  display: flex;
  align-items: center;
  height: 26rem;
}

.productBannerContent h1 {
  line-height: 1.2;
  color: #c9d2d9;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 2rem;
}

ul.breadcrumb {
  list-style: none;
}

ul.breadcrumb li {
  display: inline-block;
  font-weight: 300;
  font-size: 1.8rem;
  text-transform: uppercase;
}

ul.breadcrumb li + li:before {
  padding: 3px;
  color: #5a6d80;
  content: "/\00a0";
}
ul.breadcrumb :nth-child(3) {
  color: #c9d2d9;
}

ul.breadcrumb li a {
  color: #5a6d80;
  text-decoration: none;
}

/* Product Section */
.productSection {
  background-color: #f6f6f6;
  padding: 7rem 0;
}

.totalSortItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #c9d2d9;
}

.sortForm {
  font-weight: 400;
  font-size: 1.4rem
}

.sortItemsForms {
  display: none;
}

.itemsForm {
  margin-left: 5rem;
}

.total p {
  font-size: 2rem;
  font-weight: 300;
  color: #444456;
  text-transform: uppercase;
}

.total p span {
  font-weight: 600;
}

.sortItemsForms select option {
  font-size: 1.5rem;
}

.sortAvailableForm {
  font-weight: 500;
  color: #484c50;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.sortAvailableForm input {
  margin-bottom: 1rem;
}

.allProduct {
  display: grid;
  grid-template-columns: 17rem auto;
  grid-gap: 12rem;
  padding: 3rem 0;
}

.productLeftContent h5 {
  font-weight: 600;
  color: #444456;
  margin-bottom: 2rem;
}

.productLeftContent form {
  border-bottom: 1px solid #5a6d80;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
}

.productLeftContent form:nth-of-type(3) {
  border-bottom: 0;
}

.productLeftContent form div {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.productLeftContent form input {
  width: 2rem;
  height: 2rem;
  color: #5a6d80;
}

.productLeftContent form label {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 500;
  color: #444456;
  margin-left: 1rem;
  user-select: none;
}

.productAndReview {
  text-decoration: none;
  display: grid;
  grid-template-columns: 17rem 87rem;
  grid-gap: 5rem;
  align-items: center;
  border-bottom: 1px solid #c9d2d9;
  padding-bottom: 4.5rem;
  margin-bottom: 4rem;
}

.productAndReview:nth-of-type(4) {
  border-bottom: 0;
}

.productReviewStock h4 {
  color: #484c50;
  margin-bottom: 1rem;
  font-weight: 600;
}

.productReviewStock h5 {
  color: #484c50;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #5a6d80;
}

.productReviewStock p {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 600;
  color: #484c50;
  margin-bottom: 1rem;
}

.reviewStock i {
  color: #fbaa4c;
  font-size: 1.4rem;
  margin-right: 0.5rem;
}

.review {
  margin-bottom: 0.5rem;
}

.stock p {
  display: inline-block;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #4baa49;
  font-weight: 600;
  margin-bottom: 2rem;
}

.stock button {
  border: 0;
  margin-left: 2rem;
  background-color: transparent;
  color: #f7ccae;
  cursor: pointer;
}

.stock button i {
  font-size: 1.8rem;
}

.productReviewStock .btn {
  padding: 1.2rem 2rem;
  background-color: transparent;
  color: #484c50;
  border: 1px solid #484c50;
  font-size: 1.4rem;
  font-weight: 700;
  display: inline-block;
}

.productContent img {
  width: 50%;
  margin: auto;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: #484c50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.productSlider {
  position: relative;
  text-align: center;
}
.productSliderGrid {
  position: relative;
  text-align: center;
}

.productSlider .offer, .productSliderGrid .offer {
  position: absolute;
  width: 4rem;
  height: 4rem;
  background-color: #f54748;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
  font-weight: 400;
  font-size: 1.4rem;
  bottom: -7px;
  right: 0;
}

.pagination {
  display: grid;
  grid-template-columns: 0.3fr 1fr 0.3fr;
  align-items: center;
}

.pagination .number {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pagination .next {
  text-align: right;
}

.pagination .next button,
.pagination .previous button {
  border: 0;
  font-family: "Poppins", sans-serif;
  background-color: transparent;
  cursor: pointer;
  width: 11rem;
  padding: 0.8rem 0;
  color: #fffff4;
  font-size: 1.6rem;
  text-transform: uppercase;
  border-radius: 2px;
  font-weight: 500;
}

.pagination .next button {
  background-color: #484c50;
}

.pagination .previous button {
  border: 1px solid #b1b2b4;
  color: #b1b2b4;
}

.pagination li {
  background-color: #e7e9eb;
  /* padding: .6rem 1.5rem; */
  width: 4rem;
  padding: 0.5rem 0;
  font-size: 2rem;
  color: #797c80;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  border-radius: 2px;
  cursor: pointer;
}

.pagination .p-active {
  font-weight: 600;
  color: #ffffff;
  background-color: #5a6d80;
}

/* grid view */
.productRightContentGrid {
  display: grid;
  grid-template-columns: 32.5rem 32.5rem 32.5rem;
  grid-gap: 5rem;
}

.productAndReviewGrid {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 3rem 2rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 20rem;
  /* border: 3px solid red; */
}

.productAndReviewGrid img {
  margin-bottom: 1rem;
}

.productAndReviewGrid .slick-dots {
  display: none !important;
}

.productAndReviewGrid .slick-prev {
  left: -10px;
}

.productAndReviewGrid .slick-next {
  right: -10px;
}

.productReviewStockGrid {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
} 

.reviewAndButtonGrid .btn {
  padding: 1.2rem 2rem;
  background-color: transparent;
  color: #484c50;
  border: 1px solid #484c50;
  font-size: 1.4rem;
  font-weight: 700;
  display: inline-block;
}

.reviewAndButtonGrid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;
} 

.reviewAndButtonGrid .stock p {
  margin-bottom: 0;
}

.productAttribute h6 {
  color: #444456;
  text-transform: Uppercase;
  font-weight: 600;
  margin: 0.8rem 0;
}

.productAttribute h5 {
  color: #444456;
  font-weight: 700;
}

.listTitles {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.listTitles button {
  border: 0;
  cursor: pointer;
  font-size: 1.6rem;
  display: inline-block;
  border: 2px solid #444456;
  padding: 0.3rem 0.5rem;
  color: #444456;
  margin-left: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}

@media (max-width: 1400px) {
  .productAndReview {
    grid-template-columns: 17rem 67rem;
  }

  .productSlider {
    padding: 0 5rem;
  }

  .productSliderGrid {
    padding: 0 5rem;
  }

  .allProduct {
    display: grid;
    grid-template-columns: 17rem auto;
    grid-gap: 5rem;
    padding: 3rem 0;
  }

  .productRightContentGrid {
    grid-template-columns: 28.6rem 28.6rem 28.6rem;
  }
}

@media (max-width: 1200px) {
  .allProduct {
    grid-template-columns: 100%;
    grid-gap: 0rem;
  }

  .productAndReview {
    grid-template-columns: 30rem 63rem;
    grid-gap: 5rem;
  }

  .sortItemsForms {
    display: block;
  }

  .availabilityForm {
    display: none;
  }
}

@media (max-width: 1000px) {
  .productAndReview {
    grid-template-columns: 20rem 53rem;
  }

  .productRightContentGrid {
    grid-template-columns: 46.6% 46.6%;
  }
}

@media (max-width: 800px) {
  .productSection {
    padding: 5rem 0;
  }

  .productContent img {
    width: 60%;
    margin: auto;
  }
  .productAndReview {
    grid-template-columns: 17rem 38rem;
    grid-gap: 3rem;
  }

  .productRightContentGrid {
    grid-template-columns: 100%;
  }
}

@media (max-width: 600px) {
  .productAndReview {
    grid-template-columns: 100%;
    grid-gap: 5rem;
  }

  .productReviewStock {
    text-align: center;
    order: 2;
  }

  .productSlider {
    order: 1;
  }
}

@media (max-width: 500px) {
  .productSlider {
    padding: 0 5rem;
  }
}
