.gallerySection {
  padding: 7rem 0;
}

.allGalleryImage {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5rem;
}

.allGalleryImage img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 3px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.allGalleryImage img:hover {
  transform: scale(1.01)
}

.gallerySection h2 {
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 5rem;
  color: #484C50;
}

@media (max-width: 1200px) {
  .allGalleryImage {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .allGalleryImage {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .allGalleryImage {
    grid-template-columns: 1fr;
    grid-gap: 3rem;
  }
}
