.orderSuccessSection {
  background-color: #192129;
  height: 100vh;
}


.orderSuccessContent {
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
}

.orderSuccessContent p {
  color: #fff;
  font-weight: 400;
  font-size: 1.8rem;
  margin-bottom: 3rem;
}

.orderSuccessContent img {
  margin-bottom: 2rem;
  width: 15rem;
}

.orderSuccessContent .orderBtn {
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
  background-color: #04F74C;
  font-family: inherit;
  padding: 1rem 2rem;
  border-radius: 3px;
}