.searchProductSection {
  padding: 7rem 0;
}

.searchProductWrapper > h6 {
  text-align: center;
  margin-bottom: 2rem;
  color: #a9a9a9;
  font-weight: 400;
}

.searchProductWrapper h6 span {
  font-weight: 600;
}

/* grid view */
.productRightContentGridSearch {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 30.3% 30.3% 30.3%;
  grid-gap: 5rem;
}

.productAndReviewGrid {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 3rem 2rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 20rem;
  /* border: 3px solid red; */
}

.productAndReviewGrid img {
  width: 50%;
  margin: auto;
  margin-bottom: 1rem;
}

.productAndReviewGrid .slick-dots {
  display: none !important;
}

.productAndReviewGrid .slick-prev {
  left: -10px;
}

.productAndReviewGrid .slick-next {
  right: -10px;
}

.productReviewStockGrid {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.reviewAndButtonGrid .btn {
  padding: 1.2rem 2rem;
  background-color: transparent;
  color: #484c50;
  border: 1px solid #484c50;
  font-size: 1.4rem;
  font-weight: 700;
  display: inline-block;
}

.reviewAndButtonGrid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.reviewAndButtonGrid .stock p {
  margin-bottom: 0;
}

.productAttribute h6 {
  color: #444456;
  text-transform: Uppercase;
  font-weight: 600;
  margin: 0.8rem 0;
}

.productAttribute h5 {
  color: #444456;
  font-weight: 700;
}

@media (max-width: 1400px) {
  .productRightContentGridSearch {
    width: 100%;
    grid-template-columns: 30.5% 30.5% 30.5%;
  }
}

@media (max-width: 1200px) {
  .productRightContentGridSearch {
    width: 100%;
    grid-template-columns: 29.9% 29.9% 29.9%;
  }
}

@media (max-width: 1000px) {
  .productRightContentGridSearch {
    width: 100%;
    grid-template-columns: 46.7% 46.7%;
  }
}

@media (max-width: 800px) {
  .productRightContentGridSearch {
    width: 100%;
    grid-template-columns: 100%;
  }
}
